name: Build EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install PyInstaller
      run: pip install pyinstaller

    - name: Build EXE
      run: pyinstaller --onefile --name BybitCalculator bybit_calculator.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: BybitCalculator
        path: dist/BybitCalculator.exe
